body{
	color:#d0d3d4;
}
/*---------home--------*/
.home-text-image-in{
	/*z-index: 1;*/
	width:100%;
	max-width: 1300px;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid black;
}

.logo{
	margin-top: 10px;
	border: 2px solid red;
	max-width: 200px;
}

.sect1{
	margin-left:5px;
    margin-right:5px;
    border: 3px solid red;
/*    position: absolute;*/
}

.topic1{
	border: 2px solid gray;
	width:500px;
	height:200px;
	/*float:left;*/
}

.gender-watch{
	float:right;
	margin-right: 300px;
	margin-top: -250px;
	transform: rotate(-90deg);
}

.nav-right{
	position:fixed;
	z-index: 100;
	cursor:pointer;
	border: 2px solid green;
	width:100px;
	height:100px;
	right: 100px;
	top: 65px;
	display:table;
	float:right;
	position:fixed;
}

.sect2{
	margin-left:80px;
    margin-right:200px;
    border: 2px solid red;
}

.author{
	position: left;
	margin-left:10px;
	width:26px;
	height:153px;
	border: 2px solid pink;
}






/*---------content---------*/
/*---------mapbox---------*/
.map {
	font:12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	overflow: hidden;
	position:relative;
}

.map2 {
	font:12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	overflow: hidden;
	position:relative;
}
        
/*---------Analysis---------*/
.container {
	width: 100%;
    max-width: 970px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid black;

}

.row{
	 margin-left:5px;
     margin-right:5px;
     border: 3px solid red;
}

.text_mainly{
	margin-right: 15px;
    margin-left: 15px;
    padding: 10px;
    border: 3px solid green;
}

.image_left2{
	padding: 20px;
	height:400px;
    width:400px;
	border: 3px solid blue;
	float:left;
}

.text-right2{
	padding:20px;
	border: 3px solid purple;
	height:400px;
    width:400px;
    /*float:left;*/
    margin-left: 50%;
}

.image_right2{
	padding: 20px;
	height:400px;
    width:400px;
	border: 3px solid blue;
	float: right;
	margin-top: -50%;
}

.text-left2{
	padding: 20px;
	border: 3px solid purple;
	height:400px;
    width:400px;
}