body{
	
}

#HOME{
	background-color:#FFFFFF;}
#ANALYSIS{
	background-color:#17202a;}
#REFERENCE{
	background-color:#17202a;}
#ISSUE{
	background-color:#17202a;}
#PROJECT{
	background-color:#17202a;}
/*---------home--------*/
.home-text-image-in{
	/*z-index: 1;*/
	width:100%;
	max-width: 1300px;
	margin-right: auto;
	margin-left: auto;
	/*border: 2px solid black;*/
}

.logo{
	margin-top: 10px;
	/*border: 2px solid red;*/
	/*max-width: 200px;*/
	background: #797d7f50;
	padding: 5px;
	border-radius: 4px;
	margin-bottom: 20px;
}

.logo header{
	font-family: Impact, Charcoal, sans-serif;
	font-size: 40px;
}

.sect1{
	margin-left:5px;
    margin-right:5px;
    /*border: 3px solid red;*/
/*    position: absolute;*/
}

.sect1 .namehometop{
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-style:bold;
	font-size: 40px;
}
.sect1 .namehomemid{
	margin-left:100px; 
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-style:bold;
	font-size: 40px;
}
.sect1 .namehomebot{
	margin-left:450px; 
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-style:bold;
	font-size: 40px;
}

.topic1{
/*	border: 2px solid gray;*/
	width:600px;
	height:200px;
	/*float:left;*/
}

.gender-watch{
	float:right;
	margin-right: 400px;
	margin-top: -270px;
	transform: rotate(-90deg);
}


.sect2{
	margin-left:80px;
    margin-right:200px;
    /*border: 2px solid red;*/
    background: #abb2b930 ;
    /*opacity: 0.5;*/
}

.author{
	position: left;
	margin-left:10px;
	width:26px;
	height:153px;
	/*border: 2px solid pink;*/
}






/*---------content---------*/
h1{
	transform: rotate(90deg);
	text-decoration: underline;
	font-family: "Times New Roman", Times, sans-serif;
	font-style:bold;
	font-size: 20px;
	margin-top: -150px;
}

h2{
/*	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
	font-style:bold;
	font-size: 30px;
	margin-left: 200px;
}

.art1{
	margin-left: 200px;
	width:600px;
	word-wrap: break-word;
	text-align: left;
}

p{
	font-size: 20px;
}


/*---------mapbox---------*/
.map {
	font:12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	overflow: hidden;
	position:relative;
}

.map2 {
	font:12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	overflow: hidden;
	position:relative;
}
        
/*---------Analysis---------*/
.container {
	width: 100%;
    max-width: 970px;
    margin-right: auto;
    margin-left: auto;
    /*border: 2px solid black;*/

}

ul{
	list-style-type:none;
	text-align:center;
}
.container h5{
	color:white;
}
.container h6{
	color:white;
	font-size: 60px;
}


.row{
	 margin-left:5px;
     margin-right:5px;
     /*border: 3px solid red;*/
}

.text_mainly{
	margin-right: 15px;
    margin-left: 15px;
    padding: 10px;
    /*border: 3px solid green;*/
}

.text_mainly header{
	font-family:"Comic Sans MS", cursive, sans-serif;
	/*font-style:bold;*/
	font-size: 60px;
	color: white;
}
.text_mainly h5{
	color: white;
	font-size: 25px;
	text-align: left;
}



.image_left2{
	/*padding: 20px;*/
	height:400px;
    width:400px;
	/*border: 3px solid blue;*/
	float:left;
}

.text-right2{
	/*padding:20px;*/
	/*border: 3px solid purple;*/
	height:400px;
    width:400px;
    /*float:left;*/
    margin-left: 50%;
}

/*---------NAV--------*/

nav li{
padding: 5px 20px;
margin-left: 5px;

 }
 
#aother {
    color: white;
}
#ahome{
	color:black;
}

.nav-right{
	position:fixed;
	z-index: 100;
	cursor:pointer;
	right: 50px;
	top: 65px;
	display:table;
	float:right;
	position:fixed;
}