body{
	color:#000000;
}
/*---------content---------*/
/*---------mapbox---------*/
.map {
	font:12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	overflow: hidden;
	position:relative;
}

.map2 {
	font:12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	overflow: hidden;
	position:relative;
}
        
/*---------Analysis---------*/
.container {
	width: 100%;
    max-width: 970px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid black;

}

.row{
	 margin-left:5px;
     margin-right:5px;
     border: 3px solid red;
}

.text_mainly{
	margin-right: 15px;
    margin-left: 15px;
    padding: 10px;
    border: 3px solid green;
}

.image_left2{
	padding: 20px;
	height:100px;
    width:100px;
	border: 3px solid blue
}